
<div class="well">
    <span> <%= link_to '@'+comment.topic.name, comment.topic %> <small> 
    <%= distance_of_time_in_words(Time.now, comment.created_at) %> ago </small> </span> <br>
    <span>  <%= comment.content %></span>  
</div>
